{% extends seyon_phpbb3_user.template %}

{% block content %}
	<form action="{{ path('login_check') }}" method="post">
        
        {% if error %}
        <div class="errorBlock">
            {{ error }}
        </div>
        {% endif %}
        
		{% spaceless %}
		<div class="formRowBlock">
			<div class="formLabelBlock">
				<label for="username">{% trans %}username{% endtrans %}:</label>
			</div>
			<div class="formInputBlock">
				<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
			</div>
		</div>
		<div class="cleaner"></div>
		{% endspaceless %}

		{% spaceless %}
		<div class="formRowBlock">
			<div class="formLabelBlock">
				<label for="password">{% trans %}password{% endtrans %}:</label>
			</div>
			<div class="formInputBlock">
				<input type="password" id="password" name="_password" required="required"  />
			</div>
		</div>
		<div class="cleaner"></div>
		{% endspaceless %}

		<input type="hidden" name="_target_path" value="{{ path('_welcome') }}" />

		<input  class="btn" type="submit" name="login" value="{% trans %}login{% endtrans %}" />
	</form>
{% endblock %}